<!-- TrustBox widget - Product Reviews SEO --> 
<div id="trustbox" class="trustpilot-widget" data-locale="en-GB"
     data-template-id="5717796816f630043868e2e8"
     data-businessunit-id="5a32c83ab894c90d84228138" 
     data-style-height="700px" data-style-width="100%"
     data-theme="light"  data-sku="{{ sku }}" data-name="{{product.title}}" data-price="{{selected_variant.price}}" data-availability="{{product.available}}"> 
  <a href="https://uk.trustpilot.com/review/www.books2door.com" 
     target="_blank" rel="noopener">Trustpilot</a> </div> <!-- End TrustBox widget -->

